:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.page-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  margin-bottom: 5px;
}

.page-sub-title {
  font-size: 18px;
  color: #666;
  margin-top: 5px;
  margin-bottom: 30px;
}
