// Calendar Main View
.days {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, 1fr);
  background-color: #dadce0;
  gap: 1px;
  padding: 1px;
}

// Calendar Day
.day {
  height: 165px;
}

// Calendar Event View
.color-dot {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  flex-shrink: 0;
}

// EventForm Modal
.color-radio {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

.color-radio + label::before {
  content: '';
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.color-radio:focus + label::before {
  outline: 1px solid black;
}

.color-radio[value='blue'] + label::before {
  background-color: var(--bs-info-bg-subtle);
}

.color-radio[value='blue']:checked + label::before {
  background-color: var(--bs-info);
}

.color-radio[value='red'] + label::before {
  background-color: var(--bs-danger-bg-subtle);
}

.color-radio[value='red']:checked + label::before {
  background-color: var(--bs-danger);
}

.color-radio[value='green'] + label::before {
  background-color: var(--bs-success-bg-subtle);
}

.color-radio[value='green']:checked + label::before {
  background-color: var(--bs-success);
}

// Modal Animation
.modal {
  background-color: transparent;
  animation: fade-in 250ms forwards;
}

.modal.closing {
  animation: fade-in 250ms forwards reverse;
}

@keyframes fade-in {
  100% {
    background-color: rgba(var(--bs-dark-rgb), 0.25);
  }
}

.modal .modal-dialog {
  animation: pop-in 250ms forwards;
  scale: 0;
}

.modal.closing .modal-dialog {
  animation: pop-in 250ms forwards reverse;
}

@keyframes pop-in {
  100% {
    scale: 1;
  }
}
